:root {
    --background-color: #dfe6e9;
    --background-color-active: #b2bec3;
    --text-color: #2d3436;
    --text-color-active: #636e72;
    --link-color: #0984e3;
    --link-color-active: #74b9ff;
    --error-color: #d63031;
    --error-color-active: #ff7675;
    --success-color: #00b894;
    --success-color-active: #55efc4;

    --main-gap: 12px;
    --form-gap: 12px;

    --body-margin: 32px;

    --transition-speed: 100ms;
    --animation-speed: 200ms;

    --max-width: 768px;
}

@font-face {
    font-family: "Open Sans Condensed";
    src: url("/fonts/OpenSansCondensed-Bold.ttf");
}

@font-face {
    font-family: "Neuton";
    src: url("/fonts/Neuton-Regular.ttf");
}

@font-face {
    font-family: "Fira Code";
    src: url("/fonts/FiraCode-Regular.ttf");
}

html {
    color: var(--text-color);
    overflow-x: hidden;
    background-color: var(--background-color);
}

html,
input,
select,
textarea {
    font-family: "Neuton";
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6,
p,
ul, ol,
form,
nav,
div.centered-form,
table,
blockquote,
hr {
    margin-top: var(--main-gap);
    margin-bottom: var(--main-gap);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans Condensed";
    font-weight: normal;
    text-transform: uppercase;
    margin-top: calc(var(--main-gap) * 2);
    line-height: 0.9em;
    color: var(--text-color);
    word-wrap: break-word;
    text-shadow: 2px 2px var(--background-color-active);
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 17px;
}

body {
    margin: var(--body-margin);
}

main {
    max-width: var(--max-width);
    margin: auto;
}

@keyframes up-animation {
    from {transform: translateX(-100vw);}
    to {transform: translateX(0);}
}

main.up {
    animation: up-animation var(--animation-speed);
}

@keyframes go-up-animation {
    from {transform: translateX(0);}
    to {transform: translateX(100vw);}
}

main.go-up {
    animation: go-up-animation var(--animation-speed) forwards;
}

@keyframes down-animation {
    from {transform: translateX(100vw);}
    to {transform: translateX(0);}
}

main.down {
    animation: down-animation var(--animation-speed);
}

@keyframes go-down-animation {
    from {transform: translateX(0);}
    to {transform: translateX(-100vw);}
}

main.go-down {
    animation: go-down-animation var(--animation-speed) forwards;
}

@keyframes straight-animation {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

main.straight,
main.start {
    animation: straight-animation var(--animation-speed);
}

@keyframes go-straight-animation {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(10);
        opacity: 0;
    }
}

main.go-straight,
main.end {
    animation: go-straight-animation var(--animation-speed) forwards;
}

img {
    display: block;
    width: 100%;

}

@media only screen and (max-width: 832px) {
    main > p > img {
        width: calc(100% + (832px - 100vw));
        transform: translateX(calc((100vw - 832px) * 0.5));
    }
}

@media only screen and (max-width: 768px) {
    main > p > img {
        width: calc(100% + var(--body-margin) * 2);
        transform: translateX(calc(var(--body-margin) * -1));
    }
}

nav {
    display: block;
    margin-top: -12px;
    margin-bottom: calc(var(--main-gap) * 2);
}

nav::after {
    content: "";
    display: block;
    position: absolute;
    top: 26px;
    width: 100%;
}

nav > a {
    display: inline-block;
    margin-right: 8px;
}

nav > a:first-child {
    margin-left: 0;
}

nav > br + a {
    margin-left: 0;
}

nav > a:last-child {
    margin-right: 0;
}

a {
    color: var(--link-color);
    text-decoration: none;
    transition: color var(--transition-speed);
    outline: none;
}

a:hover,
a:focus {
    color: var(--link-color-active);
}

div.centered-form {
    max-width: 384px;
    margin: auto;
}

label:first-child {
    display: block;
    position: absolute;
    z-index: 100;
    transform: translate(10px, -10px);
    background-color: var(--background-color);
    padding-left: 2px;
    padding-right: 2px;
    font-size: 14px;
    transition: color var(--transition-speed);
}

div.input-wrapper.invalid > label {
    color: var(--error-color);
}

label.hover,
label.focus {
    color: var(--text-color-active);
}

div.input-wrapper.invalid > label.hover,
div.input-wrapper.invalid > label.focus {
    color: var(--error-color-active);
}

input:not([type=checkbox]),
textarea,
select {
    box-sizing: border-box;
    width: 100%;
    padding: 8px;
    transition: font-size var(--transition-speed);
    border: 2px solid var(--text-color);
    border-radius: 8px;
    background-color: transparent;
    color: var(--text-color);
    transition: background-color var(--transition-speed), border-color var(--transition-speed);
    outline: none;
    -webkit-appearance: none;
}

textarea {
    resize: vertical;
    min-height: 128px;
}

div.input-wrapper.invalid > input:not([type=checkbox]),
div.input-wrapper.invalid > textarea,
div.input-wrapper.invalid > select {
    border-color: var(--error-color);
}

input:not([type=checkbox]):hover,
input:not([type=checkbox]):focus,
textarea:hover,
textarea:focus,
select:hover,
select:focus {
    border: 2px solid var(--text-color-active);
}

div.input-wrapper.invalid > input:not([type=checkbox]):hover,
div.input-wrapper.invalid > input:not([type=checkbox]):focus,
div.input-wrapper.invalid > textarea:hover,
div.input-wrapper.invalid > textarea:focus,
div.input-wrapper.invalid > select:hover,
div.input-wrapper.invalid > select:focus {
    border: 2px solid var(--error-color-active);
}

input[type=submit] {
    border: none;
    cursor: pointer;
    background-color: var(--text-color);
    color: var(--background-color);
}

input[type=submit]:hover,
input[type=submit]:focus {
    background-color: var(--text-color-active);
    border: none;
}

@keyframes fade-in {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

input[type=submit] + ul {
    animation: fade-in var(--animation-speed);
}

div.input-wrapper {
    margin-bottom: var(--form-gap);
}

@keyframes shake-input {
    0% {transform: translateX(-5px);}
    20% {transform: translateX(4px);}
    40% {transform: translateX(-3px);}
    60% {transform: translateX(2px);}
    80% {transform: translateX(-1px);}
    100% {transform: translateX(0px);}
}

div.input-wrapper.invalid {
    animation: shake-input var(--animation-speed);
}


div.input-wrapper > ul {
    margin: 0;
}

ul {
    padding-left: 24px;
}

ul.errors {
    color: var(--error-color);
}

ul.successes {
    color: var(--success-color);
}

#articles {
    transform: translateX(calc((100vw - var(--max-width)) / -2));
    width: 100vw;
    /*display: relative;*/
    background-color: black;
}

@media only screen and (max-width: 832px) {
    #articles {
        transform: translateX(calc(var(--body-margin) * -1));
    }
}

article {
    width: 100vw;
    height: 50vh;
    min-height: 256px;
    position: relative;
    background-color: var(--text-color);
    box-shadow: inset 0px 0px 256px black;
    transition: box-shadow var(--transition-speed);
}

article:hover,
article:focus {
    box-shadow: inset 0px 0px 128px black;
}

article > div.image-holder {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    filter: brightness(40%);
    box-shadow: inset 0px 0px 256px black;
    transition: filter var(--transition-speed), box-shadow var(--transition-speed);
}

article:hover > div.image-holder,
article:focus > div.image-holder {
    filter: brightness(80%);
    box-shadow: inset 0px 0px 128px black;
}

article > h2 {
    position: absolute;
    margin: var(--body-margin);
    color: var(--background-color);
    transition: color var(--transition-speed);
    max-height: calc(50% - var(--body-margin));
    overflow: hidden;
    text-shadow: none;
}

article:hover > h2,
article:focus > h2 {
    color: var(--background-color-active);
}

article > p {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: var(--body-margin);
    color: var(--background-color);
    transition: color var(--transition-speed);
    max-height: calc(50% - var(--body-margin));
    overflow: hidden;
}

article:hover > p,
article:focus > p {
    color: var(--background-color-active);
}

div.table-wrapper {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    padding: 2px;
}

td {
    border-top: 2px solid var(--text-color);
}

th {
    font-family: "Open Sans Condensed";
    text-align: left;
    text-transform: uppercase;
    background-color: var(--text-color);
    color: var(--background-color);
}

pre,
code {
    font-family: "Fira Code";
    font-size: 14px;
    white-space: nowrap; 
}

blockquote {
    display: inline-block;
    position: relative;
    margin-left: 32px;
    margin-right: 32px;
    font-style: italic;
}

blockquote::before {
    content: "“";
    position: absolute;
    top: 4px;
    left: -8px;
}

blockquote::after {
    content: "”";
    position: absolute;
    bottom: 0px;
    right: -8px;
}

.collapsible {
    cursor: pointer;
}

.collapsible::after {
    content: "▼";
    display: inline-block;
    transition: transform var(--transition-speed), text-shadow var(--transition-speed);
}

.collapsible.active::after {
    transform: rotate(-180deg);
    text-shadow: -2px -2px var(--background-color-active);
}

.content {
    display: block;
    max-height: 0;
    overflow: hidden;
    transition: max-height var(--transition-speed) ease-out;
}

.content.active {
    max-height: 3000px;
    transition: max-height var(--transition-speed) ease-in;
}

.author {
    font-style: italic;
}

.stats {
    display: inline-block;
    color: var(--text-color);
    background-color: var(--background-color-active);
    font-style: normal;
    height: 24px;
    padding-right: 8px;
    margin-right: 4px;
    border-radius: 16px;
    font-size: 14px;
}

.stats > .icon {
    display: inline-block;
    background-color: var(--text-color);
    color: var(--background-color-active);
    height: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 8px;
    padding-right: 4px;
    margin-right: 4px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

.stats.active > .icon {
    background-color: var(--text-color-active);
}

.half {
    display: inline-block;
    width: calc(50% - 6px);
    margin-right: 12px;
}

.half:nth-child(2n) {
    margin-right: 0;
}

.third {
    display: inline-block;
    width: calc(33.33% - 8px);
    margin-right: 12px;
}

.third:nth-child(3n) {
    margin-right: 0;
}

div.comment {
    border-top: 1px solid var(--background-color-active);
}

div.comment:last-child {
    border-bottom: 1px solid var(--background-color-active);
}

div.progressbar-wrapper {
    position: relative;
    width: 100%;
    height: 32px;
}

div.progressbar-wrapper > * {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

div.progressbar-background {
    background-color: var(--error-color);
}

div.progressbar-bar {
    background-color: var(--success-color);
}

div.progressbar-text {
    text-align: center;
    font-size: 20px;
    border: 2px solid var(--text-color);
}

ul.uploads {
    padding: 0;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
}

ul.uploads > li {
    list-style-type: none;
    width: 256px;
    display: inline-block;
}

ul.uploads > li > span {
    display: block;
    width: 100%;
    word-wrap: break-word;
    white-space: normal;
}
