:root {
    --background-color: #F0F2E5;
    --text-color: #403E2F;
    --accent-color: #D13311;
    --main-gap: 12px;
    --form-gap: 12px;
}

html {
    color: var(--text-color);
    background-color: var(--background-color);
}

html, input {
    font-family: "Neuton";
    font-size: 16px;
}

h1, h2, p, ul, form, nav, div.centered-form {
    margin-top: var(--main-gap);
    margin-bottom: var(--main-gap);
}

h1, h2 {
    font-family: "Open Sans Condensed";
    text-transform: uppercase;
    margin-top: calc(var(--main-gap) * 2);
    line-height: 0.9em;
    color: var(--accent-color);
}

h1 {
    font-size: 32px;
    margin-bottom: 0;
}

h2 {
    font-size: 24px;
}

body {
    margin: 32px;
}

main {
    max-width: 768px;
    margin: auto;
}

nav {
    margin-top: 0;
    margin-bottom: calc(var(--main-gap) * 2);
}

nav > a {
    display: inline-block;
    margin-left: 4px;
    margin-right: 4px;
}

nav > a:first-child {
    margin-left: 0;
}

nav > a:last-child {
    margin-right: 0;
}

a {
    color: var(--text-color);
    font-style: italic;
    text-decoration: none;
    transition: color 200ms;
    outline: none;
}

a:hover {
    color: var(--accent-color);
}

div.centered-form {
    max-width: 384px;
    margin: auto;
}

form > ul {
    margin: 0;
    margin-bottom: var(--form-gap);
}

label {
    display: block;
    position: absolute;
    z-index: 100;
    transform: translate(10px, -10px);
    background-color: var(--background-color);
    padding: 2px;
    font-size: 12px;
    transition: color 200ms;
}

label.hover, label.focus {
    color: var(--accent-color);
}

input {
    box-sizing: border-box;
    width: 100%;
    padding: 8px;
    transition: font-size 200ms;
    border: 2px solid var(--text-color);
    border-radius: 8px;
    background-color: transparent;
    color: var(--text-color);
    transition: background-color 200ms, border-color 200ms;
    outline: none;
}

input:hover, input:focus {
    border: 2px solid var(--accent-color);
    color: var(--accent-color);
}

input[type=submit] {
    border: none;
    cursor: pointer;
    background-color: var(--text-color);
    color: var(--background-color);
}

input[type=submit]:hover, input[type=submit]:focus {
    background-color: var(--accent-color);
}

label + input {
    margin-bottom: var(--form-gap);
}

ul {
    padding-left: 12px;
}